#navbar
  border-bottom: 1px solid #bdc3c7
  margin-bottom: 1em
  text-align: center
  a
    padding: .5em
    display: inline-block
    color: #2980b9

    &:hover
      color: #3498db

    &.active
      text-decoration: underline
